.register {
    padding: 25px;
    display: flex;
    flex-direction: column;
    background-color: rgb(20, 22, 22);
    color: white !important;
}

.needs-validation {
    margin-left: 300px;
    width: 100%;
}

.register__heading {
    margin: 10px auto;
    color: rgb(189, 180, 168) !important;
}


.invalid-feedback {
    display: block !important;
}

.text__color {
    color: white !important;
}